<script>
    $(function() {
       // Initialise the right tab plugin, on our specified tab element
       $("#jipipe_form_container").omeroweb_right_plugin({
           supported_obj_types: ['project'],
           load_plugin_content: function(selected, obj_dtype, obj_id) {
                   // Dynamically generate the URL with the correct project_id
                   var url = "{% url 'JIPipeRunner_index' project_id=0%}".replace("0", obj_id);
                   $(this).load(url);
            },
       });
    });
    </script>
    